{% extends "src/layout/default.njk" %}

{% block pageTitle %}Welcome to My Website{% endblock %}

{% block articleContent %}
  <p>Welcome to my awesome website! Explore my content using the navigation above.</p>
{% endblock %}